<div class="x-app-container"
     [ngClass]="{'x-app-container--select-disabled': isResizable || isDownResizable || isResizableCol.some(active)}"
     (mousemove)="doResizing($event)"
     (mouseup)="resizeStop(); colResizeStop(); resizeDownStop(); colTwoResizeStop(); colThreeResizeStop()"
     (mouseleave)="resizeStop(); colResizeStop(); resizeDownStop(); colTwoResizeStop(); colThreeResizeStop()">
  <button class="x-app-table-button" mat-raised-button (click)="doSmt()" (dblclick)="doSmtTwo()">+ Add Property</button>
  <div class="x-app-table"
       (dblclick)="maximize=!maximize"
       (scroll)="tableHeaderHide($event)"
       [ngClass]="{'x-app-table--shake': tableShaking, 'x-app-table--maximize': maximize}"
       [style.max-width.px]="horizontalCord"
       [style.max-height.px]="verticalCord">
    <div class="x-app-table__col-resizer"
         [style.left]="(widthOfCol[0] + positionX) >= 150 ? (widthOfCol[0] + positionX)+ 'px': '150px'"
         [style.top.px]="this.positionY"
         (mousedown)="colResizeStart()"
         (mouseup)="colResizeStop()"></div>
    <div class="x-app-table__col-resizer"
         [style.left]="(widthOfCol[1] + positionX) >= 150 ? (widthOfCol[0] + widthOfCol[1] )+ 'px': '300px'"
         [style.top.px]="this.positionY"
         [style.display]="widthOfCol[1] <  positionX ? 'none': ''"
         (mousedown)="colTwoResizeStart()"
         (mouseup)="colTwoResizeStop()"></div>
    <div class="x-app-table__col-resizer"
         [style.left]="(widthOfCol[2] + positionX) >= 150 ? (widthOfCol[0] + widthOfCol[1] + widthOfCol[2] )+ 'px': '450px'"
         [style.top.px]="this.positionY"
         [style.display]="(widthOfCol[1] + widthOfCol[2]) < positionX ? 'none': ''"
         (mousedown)="colThreeResizeStart()"
         (mouseup)="colThreeResizeStop()"></div>
    <table class="x-app-table__main"
           [ngClass]="{'x-app-table__main--fall' : isFast}">
      <thead class="x-app-table__head"
             [ngClass]="{'x-app-table__head--show': !hideTableHead}"
             [ngStyle]="{'transform': hideTableHead ? 'translateY('+ this.positionY - 40 + 'px)' : 'translateY('+ this.positionY + 'px)' }">
      <tr>
        <th [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">NAME
        </th>
        <th [style.min-width.px]="(widthOfCol[1] + positionX) >= 150 ? widthOfCol[1] : '150px'"
        >NAME</th>
        <th *ngFor="let header of headers, let i = index"
            [style.min-width.px]="i === 0 && (widthOfCol[2] + positionX) >= 150 ? widthOfCol[2] : '150px'"
        >{{header}}</th>
      </tr>
      </thead>
      <tbody class="x-app-table__body">
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name your favorite color
        </td>
        <td [style.min-width.px]="(widthOfCol[1] + positionX) >= 150 ? widthOfCol[1] : '150px'">Write the name of your first pet</td>
        <td [style.min-width.px]="(widthOfCol[2] + positionX) >= 150 ? widthOfCol[2] : '150px'">add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Text</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Text</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Text</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Text</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2003</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Text</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2003</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2004</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2003</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      <tr>
        <td [style.transform]="'translateX('+ this.positionX + 'px)'"
            [style.min-width.px]="(widthOfCol[0] + positionX) >= 150 ? widthOfCol[0] : '150px'">Name</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
        <td>02.12.2005</td>
        <td>User Updated</td>
        <td>Lookup</td>
        <td>add validation</td>
        <td>02.12.2006</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="x-table-sizer-right"
       (mousedown)="resizeStart()"
       (mouseup)="resizeStop()"
       [style.left.px]="horizontalCord"
       [style.height.px]="verticalCord"
       [style.top.px]="-verticalCord">
  </div>
  <div class="x-table-sizer-down"
       (mousedown)="resizeDownStart()"
       (mouseup)="resizeDownStop()"
       [style.width.px]="horizontalCord"
       [style.top.px]="-verticalCord">
  </div>
</div>

